@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a,
button {
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.debug-info {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  padding: 10px;
  font-size: 12px;
  z-index: 9999;
}

